.btn-grad {
    background-image: linear-gradient(
      to right,
      #6441a5 0%,
      #2a0845 51%,
      #6441a5 100%
    );
  }
  .btn-grad {
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
.DF{
    background-color: #a23eff4d;
    border: 0;
    color: white;
}